<%content_for :header do %><h1>Listing Articles</h1><%end%>
<%= will_paginate @articles %>

<%=render :partial => 'listing', :collection => @articles %>
<br/>
<%= will_paginate @articles %>
<br />

<%= link_to 'New article', new_article_path %>
