<%content_for :header do %><h1>New article</h1><%end%>

<% form_for(@article) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form' , :locals =>{:form => f} %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', articles_path %>
