/*body {
  background-image: url("/images/background.png");
  background-position: left top;
  background-repeat: no-repeat;
  color: white;
}
p, h1, h2,h3,h4,h5,h6, span, div 
{
color:white
}
li 
{
background-color:black;
color:white;
}*/
